# IDE environment information
.idea/

# Data files
data/author.csv
data/author_without_initial.csv

# Jupyter Notebook
*/.ipynb_checkpoints/*

# secrets
settings.yml
envs/docker/.env
envs/docker/mongo_seed/arxiv-metadata-oai-snapshot.json

# caches
__pycache__/
*.py[cod]
*$py.class
.mypy_cache
.hypothesis
.pytest_cache

#.ipython
history.sqlite

# pip installer logs
pip-log.txt

# pyenv virtualenv
.python-version

# Other
tmp

# Installation
*/*egg-info/*
**/*.egg

# Builds
**/build/*

# output
output/*
!output/.gitkeep
!output/tools_confusion_matrix_pubmed.csv
!output/tools_performance_pubmed.csv
!output/gender_api_pubmed.csv
!output/gender_api_arxiv.csv
!output/gender_detector_pubmed.csv
!output/gender_detector_arxiv.csv
!output/gender_guesser_pubmed.csv
!output/gender_guesser_arxiv.csv
!output/genderize_pubmed.csv
!output/genderize_arxiv.csv
!output/name_api_pubmed.csv
!output/namsor_pubmed.csv
!output/namsor_arxiv.csv
!output/authors_gender_corpora_10000.7z
!output/silver_corpora.7z
!output/tools_performance_arxiv_10000.csv
!output/no_author_paper_id.txt
!output/gender_corpora_10000.csv
!output/genders_10000.csv



