# IDE environment information
.idea/

# Data files
data/*
!data/pubmed.csv

# Jupyter Notebook
*/.ipynb_checkpoints/*

# secrets
settings.yml
envs/docker/.env
envs/docker/mongo_seed/arxiv-metadata-oai-snapshot.json

# caches
__pycache__/
*.py[cod]
*$py.class
.mypy_cache
.hypothesis
.pytest_cache

#.ipython
history.sqlite

# pip installer logs
pip-log.txt

# pyenv virtualenv
.python-version

# Other
tmp

# Installation
*/*egg-info/*
**/*.egg

# Builds
**/build/*

# output
output/*
!output/.gitkeep
!output/tools_confusion_matrix_pubmed.csv
!output/tools_performance_pubmed.csv
!output/gender_api_pubmed.csv
!output/gender_api_arxiv.csv
!output/gender_detector_pubmed.csv
!output/gender_detector_arxiv.csv
!output/gender_guesser_pubmed.csv
!output/gender_guesser_arxiv.csv
!output/genderize_pubmed.csv
!output/name_api_pubmed.csv
!output/namsor_pubmed.csv
!output/namsor_arxiv.csv

scripts/test1.py
scripts/author_2.csv
scripts/author_without_initial.csv

